.Section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.Board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
}