.Timer {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    gap: 250px;
}

.Wrapper {
    padding: 5px 5px 5px 10px;
}

.TimeText {
    font-weight: 500;
    font-size: 60px;
    display: block;
    min-width: 130px;
}

.CurrMove {
    background-color: var(--secondary-green);
}

.NoCurrMove {
    background-color: var(--secondary-black);
}