.Header {
    -webkit-box-shadow: 2px 54px 66px -59px rgba(91, 148, 201, 0.6) inset;
    -moz-box-shadow: 2px 54px 66px -59px rgba(91, 148, 201, 0.6) inset;
    box-shadow: 2px 54px 66px -59px rgba(91, 148, 201, 0.6) inset;
    min-height: 70px;
}

.Header__img {
    width: 23px;
    height: 23px;
}

.Header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    padding-top: 18px;
}

.HeaderLeftWrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.HeaderRightWrapper {
    display: flex;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
}

.HeaderBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
}

.Header__login {
    font-size: 25px;
    font-weight: 500;
    color: #2BC29E;
}

.Logo {
    font-size: 40px;
}